
<h1>Crear Usuario Nuevo</h1>

<form  action="agregar" method="POST">
    Nombre: <input type="text" name="nombre" />
    <br>
    Apellidos: <input type="text" name="apellidos" />
    <br>
    Correo Electronico : <input type="text" name="correoelectronico" />
    <br>
    Contraseña : <input type="password" name="contraseña" />
    <br>
    Rol:
    <select name="rol">
            <% lroles.forEach( function(r)  { %>
                <option value="<%= r.id %>"><%= r.nombre%></option>
            <%}) %>
    </select>

    <br><br>
   <input type="submit"  value="Agregar" />
   <input type="reset"  value="Limpiar" />
</form>


