<h1>PARTIDAS</h1>

<form action="" method="POST">
</form>

<table class="table">
    <thead>
        <tr>
            <th>Nombre de Equipo</th>
        </tr>
    </thead>
    <tbody id="datos">
            <% lpartidas.forEach( function(elem) { %>
                <tr>
                    <td><%= elem.nombre %></td>
                <td>
                </tr>
             <% }) %>
     </tbody>
</table>