<!DOCTYPE html>
<html lang="es">

    <head>
        <title>..:: Usuarios::..</title>
        <meta charset="utf-8">
        <meta name="description" content="Ejemplo HTML5">
        <meta name="keywords" content="HTML,Programacion web">
    
        <link rel="icon" href="logo1.ico" type="image/vnd.microsoft.icon" size="32x32" />
        <link rel="stylesheet" href="/css/partials.css" /> 
    </head>

<body>

    <div class="wrapper">
        <%- include('../partials/cabecera.ejs') %>
        <div class="layout-sidebar">
            <main><%- body %></main>
        </div>
        <%- include('../partials/pie.ejs') %>
    </div>

</body>

</html>